body {
    background-color: #444;
     
}
::-webkit-scrollbar {
    width: 20px;
    
}

::-webkit-scrollbar-track {
    background: #dddddd;
}
::-webkit-scrollbar-thumb {
    background: blue;
}

li {
    list-style: none;
    color: white;
}

#container {
    background-color: lightblue;
    width: 95vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.inf {
    padding: 5px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

header h1 {
    font-size: 2em;
    text-align: center;
    color: white;
}
footer {
    background-color: lightblue;
    width: 95vw;
    height: 100%;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding : 20px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    border-bottom-right-radius : 20px;
    border-bottom-left-radius: 20px;
}
button{ 
    background: none;
    border-radius: 2em;
    padding : 1em;
    cursor: pointer;
}
button:hover {
    font-size: 17px;
    transition: all 0.3s;
    background-color: black;
}
 
a {
    text-decoration: none;
   

}
a:visited{
    color: black;
}
a:hover{
    color: white;
}